<!DOCTYPE html>
<html lang="en">
<head>
	  {% load static %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="ninodezign.com, ninodezign@gmail.com">
	<meta name="copyright" content="ninodezign.com">
	<title>GyMkhana </title>

	<!-- favicon -->
    <link rel="shortcut icon" href="/images/ico/favicon.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "/images/ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "/images/ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "/images/ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "/images/ico/apple-touch-icon-57-precomposed.png" %}">

	<!-- css -->
	<link rel="stylesheet" type="text/css" href="{% static "application/css/new/bootstrap.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "application/css/new/materialdesignicons.min.css"%}" />
	<link rel="stylesheet" type="text/css" href="{% static "application/css/new/jquery.mCustomScrollbar.min.css"%}" />
	<link rel="stylesheet" type="text/css" href="{% static "application/css/new/prettyPhoto.css"%}" />
	<link rel="stylesheet" type="text/css" href="{% static "application/css/new/unslider.css"%}" />
	<link rel="stylesheet" type="text/css" href="{% static "application/css/new/template.css"%}" />

</head>

<body data-target="#nino-navbar" data-spy="scroll">

	<!-- Header
    ================================================== -->
	<header id="nino-header">
	<div id="nino-headerInner">
	<nav id="nino-navbar" class="navbar navbar-default" role="navigation">
	<div class="container">

	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nino-navbar-collapse">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/homepage.html">GyMkhana</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="nino-menuItem pull-right">
	<div class="collapse navbar-collapse pull-left" id="nino-navbar-collapse">
	<ul class="nav navbar-nav">
	<li class="active"><a href="#nino-header">Home <span class="sr-only">(current)</span></a></li>
	<li><a href="#nino-story">About</a></li>
	<li><a href="#nino-services">Councils</a></li>
	<li><a href="#nino-ourTeam">Our Team</a></li>
	<li><a href="#nino-uniqueDesign">Login </a></li>

	</ul>
	</div><!-- /.navbar-collapse -->
	<ul class="nino-iconsGroup nav navbar-nav">

	</ul>
	</div>
	</div><!-- /.container-fluid -->
	</nav>

	<section id="nino-slider" class="carousel slide container" data-ride="carousel">

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
	<div class="item active">
	<h2 class="nino-sectionHeading">
	<span class="nino-subHeading"></span>
	Welcome <br>to GyMkhana
	</h2>
	<a href="#" class="nino-btn"></a>
	</div>
	<div class="item">
	<h2 class="nino-sectionHeading">
	<span class="nino-subHeading"></span>
	Welcome <br>to GyMkhana
	</h2>
	<a href="#" class="nino-btn"></a>
	</div>
	<div class="item">
	<h2 class="nino-sectionHeading">
	<span class="nino-subHeading"></span>
	Welcome <br>to GyMkhana
	</h2>
	<a href="#" class="nino-btn">Learn more</a>
	</div>
	<div class="item">
	<h2 class="nino-sectionHeading">
	<span class="nino-subHeading"></span>
	Welcome <br>to GyMkhana
	</h2>
	<a href="#" class="nino-btn">Learn more</a>
	</div>
	</div>

	<!-- Indicators -->

	</section>
	</div>
	</header><!--/#header-->

	<!-- Story About Us
    ================================================== -->
	<section id="nino-story">
	<div class="container">
	<h2 class="nino-sectionHeading">
	<span class="nino-subHeading">What we do</span>
	Story about us
	</h2>
	<p class="nino-sectionDesc">The Students' Gymkhana is the students' government organization of The LNMIIT, Jaipur. Established in 2006, the Gymkhana seeks to cultivate qualities of leadership amongst students to foster a corporate life and to advance the general cause of the student body of the student body of the Institute.It aims at promoting and developing organizational abilities in students. It has been successful over the years in evolving a well-informed, articulate and participatory student community life. It has been instrumental in identifying student issues and promoting discussion on them. It functions as the office for all election and nominations of students for gymkhana activities. </p>
	<div class="sectionContent">
	<div class="row nino-hoverEffect">
	<div class="col-md-4 col-sm-4">
	<div class="item">
	<a class="overlay" href="#">
	<span class="content">
	<i class="mdi mdi-account-multiple nino-icon"></i>
 Desportivos
	</span>
	<img src="{% static "application/images/new/story/sports.jpg" %}" alt="" height =270>
	</a>
	</div>
	</div>
	<div class="col-md-4 col-sm-4">
	<div class="item">
	<a class="overlay" href="#">
	<span class="content">
	<i class="mdi mdi-image-filter-center-focus-weak nino-icon"></i>
	Vivacity
	</span>
	<img src="{% static "application/images/new/story/dance.jpg" %}"  alt="">
	</a>
	</div>
	</div>
	<div class="col-md-4 col-sm-4">
	<div class="item">
	<a class="overlay" href="#">
	<span class="content">
	<i class="mdi mdi-airplay nino-icon"></i>
	Plinth
	</span>
	<img src="{% static "application/images/new/story/plinth.jpg" %}" alt="" height =270>
	</a>
	</div>
	</div>
	</div>
	</div>
	</div>
	</section><!--/#nino-story-->

	<!-- Counting
    ================================================== -->
    <section id="nino-counting">
    	<div class="container">
    	<div layout="row" class="verticalStretch">
    	<div class="item">
    	<div class="number">7</div>
    	<div class="text">Councils</div>
    	</div>
    	<div class="item">
    	<div class="number">19</div>
    	<div class="text">Clubs</div>
    	</div>
    	<div class="item">
    	<div class="number">3</div>
    	<div class="text">Fest</div>
    	</div>

    	<div class="item">
    	<div class="number">343</div>
    	<div class="text">Members</div>
	</div>
	<div class="item">
    	<div class="number">1</div>
    	<div class="text">College</div>
    	</div>
    	</div>
    	</div>
    </section><!--/#nino-counting-->

    <!-- Services
    ================================================== -->
    <section id="nino-services">
    	<div class="container">
    	<h2 class="nino-sectionHeading">
	<span class="nino-subHeading">Our Councils</span>

	</h2>
	<div class="sectionContent">
	<div class="fw" layout="row">
	<div class="col-md-4 col-sm-6 item ">
	<div layout="row">

	<div>
	<h4 class="nino-serviceTitle">Presidential</h4>
	<p>The Presidential council forms the backbone of the Gymkhana. It is an integral part which facitilates all the administrative parts of the Gymkhana.</p>
	</div>
	</div>
	</div>
	<div class="col-md-4 col-sm-6 item ">
	<div layout="row">

	<div>
	<h4 class="nino-serviceTitle">Academic</h4>
	<p>Academic Council The academic council is responsible for all the matters pertaining to the academics of the student body. </p>
	</div>
	</div>
	</div>
	<div class="col-md-4 col-sm-6 item ">
	<div layout="row">

	<div>
	<h4 class="nino-serviceTitle">Science and Tech</h4>
	<p>The Science and Technology council aims at stimulating the technical mindset of students.</p>
	</div>
	</div>
	</div>
	<div class="col-md-4 col-sm-6 item ">
	<div layout="row">

	<div>
	<h4 class="nino-serviceTitle">Cultural</h4>
	<p>The cultural council manages all the non-technical clubs in college catering to individual talents of the student body.</p>
	</div>
	</div>
	</div>
	<div class="col-md-4 col-sm-6 item ">
	<div layout="row">

	<div>
	<h4 class="nino-serviceTitle">Sports</h4>
	<p>The sports council mananges all the sports clubs in institute. It is responsible for managing all the institute teams in all sports. </p>
	</div>
	</div>
	</div>
	<div class="col-md-4 col-sm-6 item ">
	<div layout="row">

	<div>
	<h4 class="nino-serviceTitle">Cosha</h4>
	<p>The Council of Students and Hostel Affairs manages all aspects related to mess and hostels.</p>
	</div>
	</div>
	</div>
	</div>
	</div>
    	</div>
    </section><!--/#nino-services-->

    <!-- Unique Design
    <================================================== -->

    <section id="nino-uniqueDesign" bgcolor="#000044" >
    	<div class="container" style="color:#3EFF00" style="background-color:rgba(255,0,0,0.6)">
    	<h2 class="nino-sectionHeading">
	<span class="nino-subHeading">Welcome</span>
	</h2>
	<div class="row" >
	<div class="col-sm-6">
	<section>
	<div id="container_demo" >
	<div id="wrapper">
	<div id="login" class="animate form noti">
	<form action="/login" method="get">
		                            {% csrf_token %}

	<input type="submit" value="Sign In">
	</form>

	</div>
	</div>
	</div>
	</section>
	-----
	</div>
	<div class="col-sm-6"><form action="/signup" method="get">
		                            {% csrf_token %}

	<input type="submit" value="Sign Up">
	</form></div>

	<!-- Modal2 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
<div class="modal-dialog">
<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
 <button type="button" class="close" data-dismiss="modal">&times;</button>

 <div class="signin-form profile">
 <h3 class="agileinfo_sign">Sign Up</h3>
	<div class="login-form">
	<form action="/users/register" method="post">
	<input type="text" name="name" placeholder="Username" required="">
	<input type="email" name="email" placeholder="Email" required="">
	<input type="password" name="password" placeholder="Password" required="">
	<input type="password" name="password2" placeholder="Confirm Password" required="">
	<br>
	<div>
	<select class="form-control" placeholder="LogIn as" name="user_level">
	<option value="Faculty">Facuty</option>
	<option value="Student">Student</option>
	<<option value=""></option>
	</select>
	</div>
	<input type="submit" value="Sign Up">
	</form>
	</div>
	<p><a href="#"> By clicking register, I agree to your terms</a></p>
	</div>
</div>
</div>
</div>
</div>
<!-- //Modal2 -->



	 </div>

    	</div>
    </section><!--/#nino-uniqueDesign-->

    <!-- What We Do
    ================================================== -->


    <!-- Testimonial
    ================================================== -->
    <section class="nino-testimonial">
    	<div class="container">
    	<div class="nino-testimonialSlider">
	<ul>
	<li>
	<div layout="row">
	<div class="nino-symbol fsr">
	<i class="mdi mdi-comment-multiple-outline nino-icon"></i>
	</div>
	<div>
	<p class="quote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."</p>
	<span class="name">Jon Doe</span>
	</div>
	</div>
	</li>
	<li>
	<div layout="row">
	<div class="nino-symbol fsr">
	<i class="mdi mdi-wechat nino-icon"></i>
	</div>
	<div>
	<p class="quote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."</p>
	<span class="name">Jon Doe</span>
	</div>
	</div>
	</li>
	<li>
	<div layout="row">
	<div class="nino-symbol fsr">
	<i class="mdi mdi-message-text-outline nino-icon"></i>
	</div>
	<div>
	<p class="quote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."</p>
	<span class="name">Jon Doe</span>
	</div>
	</div>
	</li>
	</ul>
	</div>
    	</div>
    </section><!--/#nino-testimonial-->

    <!-- Our Team
    ================================================== -->
	<section id="nino-ourTeam">
	<div class="container">
	<h2 class="nino-sectionHeading">
	<span class="nino-subHeading"></span>
	Meet our team
	</h2>

	<div class="sectionContent">
	<div class="row nino-hoverEffect">
	<div class="col-md-3 col-sm-3">
	<div class="item">
	<div class="overlay" href="#">
	<div class="content">
	<a href="https://www.facebook.com/mayuri.agrawal.581?ref=br_rs" class="nino-icon"><i class="mdi mdi-facebook"></i></a>

	<a href="https://www.instagram.com/mayuri_6547/?hl=en" class="nino-icon"><i class="mdi mdi-instagram"></i></a>
	</div>
	<img src="{% static "application/images/new/our-team/mayuri.jpg"%}" alt="">
	</div>
	</div>
	<div class="info">
	<h4 class="name">Mayuri Agrawal</h4>
	<span class="regency">Scrum Master</span>
	</div>
	</div>


	<div class="col-md-3 col-sm-3">
	<div class="item">
	<div class="overlay" href="#">
	<div class="content">
	<a href="#" class="nino-icon"><i class="mdi mdi-facebook"></i></a>

	<a href="https://www.instagram.com/navdeepsingh_02/?hl=en" class="nino-icon"><i class="mdi mdi-instagram"></i></a>
	</div>
	<img src="{% static "application/images/new/our-team/navdeep.jpg"%}" alt="">
	</div>
	</div>
	<div class="info">
	<h4 class="name">Navdeep Singh</h4>
	<span class="regency">Developer</span>
	</div>
	</div>
	<div class="col-md-3 col-sm-3">
	<div class="item">
	<div class="overlay" href="#">
	<div class="content">
	<a href="https://www.facebook.com/naman.khandelwal.75" class="nino-icon"><i class="mdi mdi-facebook"></i></a>

	<a href="https://www.instagram.com/dangayach_naman/?hl=en" class="nino-icon"><i class="mdi mdi-instagram"></i></a>
	</div>
	<img src="{% static "application/images/new/our-team/naman.jpg"%}" alt="">
	</div>
	</div>


	<div class="info">
	<h4 class="name">Naman Khandelwal </h4>
	<span class="regency">Developer</span>
	</div>
	</div>
	<div class="col-md-3 col-sm-3">
	<div class="item">
	<div class="overlay" href="#">
	<div class="content">
	<a href="#" class="nino-icon"><i class="mdi mdi-facebook"></i></a>

	<a href="https://www.instagram.com/namishnarayan/?hl=en" class="nino-icon"><i class="mdi mdi-instagram"></i></a>
	</div>
	<img src="{% static "application/images/new/our-team/namish.jpg"%}" alt="">
	</div>
	</div>


	<div class="info">
	<h4 class="name">Namish Narayan</h4>
	<span class="regency">Product Owner</span>
	</div>
	</div>

	</div>
	</div>
	</div>
	</section><!--/#nino-ourTeam-->

	<!-- Brand
    ================================================== -->

	<!-- Portfolio
    ================================================== -->
	<!-- <section id="nino-portfolio">
	<div class="container">
	<h2 class="nino-sectionHeading">
	<span class="nino-subHeading">What we Do</span>

	</h2>
	<p class="nino-sectionDesc">
	Lorem ipsum dolooooooooooooooooooooooooooor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	</p>
	</div>
	<div class="sectionContent">
	<ul class="nino-portfolioItems">
	<li class="item">
	<a class="nino-prettyPhoto" rel="prettyPhoto[gallery1]" title="Development Mobile" href="/images/our-work/img-1.jpg">
	<img src="{% static "application/images/new/our-work/img-1.jpg"%}" />
	<div class="overlay">
	<div class="content">
	<i class="mdi mdi-crown nino-icon"></i>
	<h4 class="title">creatively designed</h4>
	<span class="desc">Lorem ipsum dolor sit</span>
	</div>
	</div>
	</a>
	</li>
	<li class="item">
	<a class="nino-prettyPhoto" rel="prettyPhoto[gallery1]" title="Development Mobile" href="/images/our-work/img-2.jpg">
	<img src="{% static "application/images/new/our-work/img-2.jpg" %}" />
	<div class="overlay">
	<div class="content">
	<i class="mdi mdi-cube-outline nino-icon"></i>
	<h4 class="title">creatively designed</h4>
	<span class="desc">Lorem ipsum dolor sit</span>
	</div>
	</div>
	</a>
	</li>
	<li class="item">
	<a class="nino-prettyPhoto" rel="prettyPhoto[gallery1]" title="Development Mobile" href="/images/our-work/img-3.jpg">
	<img src="{% static "application/images/new/our-work/img-3.jpg" %}" />
	<div class="overlay">
	<div class="content">
	<i class="mdi mdi-desktop-mac nino-icon"></i>
	<h4 class="title">creatively designed</h4>
	<span class="desc">Lorem ipsum dolor sit</span>
	</div>
	</div>
	</a>
	</li>
	<li class="item">
	<a class="nino-prettyPhoto" rel="prettyPhoto[gallery1]" title="Development Mobile" href="/images/our-work/img-4.jpg">
	<img src="{% static "application/images/new/our-work/img-4.jpg" %}" />
	<div class="overlay">
	<div class="content">
	<i class="mdi mdi-flower nino-icon"></i>
	<h4 class="title">creatively designed</h4>
	<span class="desc">Lorem ipsum dolor sit</span>
	</div>
	</div>
	</a>
	</li>
	<li class="item">
	<a class="nino-prettyPhoto" rel="prettyPhoto[gallery1]" title="Development Mobile" href="/images/our-work/img-5.jpg">
	<img src="{% static "application/images/new/our-work/img-5.jpg" %}" />
	<div class="overlay">
	<div class="content">
	<i class="mdi mdi-gamepad-variant nino-icon"></i>
	<h4 class="title">creatively designed</h4>
	<span class="desc">Lorem ipsum dolor sit</span>
	</div>
	</div>
	</a>
	</li>
	<li class="item">
	<a class="nino-prettyPhoto" rel="prettyPhoto[gallery1]" title="Development Mobile" href="/images/our-work/img-6.jpg">
	<img src="{% static "application/images/new/our-work/img-6.jpg" %}" />
	<div class="overlay">
	<div class="content">
	<i class="mdi mdi-gnome nino-icon"></i>
	<h4 class="title">creatively designed</h4>
	<span class="desc">Lorem ipsum dolor sit</span>
	</div>
	</div>
	</a>
	</li>
	<li class="item">
	<a class="nino-prettyPhoto" rel="prettyPhoto[gallery1]" title="Development Mobile" href="/images/our-work/img-7.jpg">
	<img src="{% static "application/images/new/our-work/img-7.jpg" %}" />
	<div class="overlay">
	<div class="content">
	<i class="mdi mdi-guitar-electric nino-icon"></i>
	<h4 class="title">creatively designed</h4>
	<span class="desc">Lorem ipsum dolor sit</span>
	</div>
	</div>
	</a>
	</li>
	</ul>
	</div>
	</section><!--/#nino-portfolio-->

	<!-- Testimonial -->

    <!-- <section class="nino-testimonial bg-white">
    	<div class="container">
    	<div class="nino-testimonialSlider">
	<ul>
	<li>
	<div layout="row" class="verticalCenter">
	<div class="nino-avatar fsr">
	<img class="img-circle img-thumbnail" src="{% static "images/testimonial/img-1.jpg" %}" alt="">
	</div>
	<div>
	<p class="quote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."</p>
	<span class="name">Joshua Earle</span>
	</div>
	</div>
	</li>
	<li>
	<div layout="row" class="verticalCenter">
	<div class="nino-avatar fsr">
	<img class="img-circle img-thumbnail" src="{% static "images/testimonial/img-2.jpg" %}" alt="">
	</div>
	<div>
	<p class="quote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."</p>
	<span class="name">Jon Doe</span>
	</div>
	</div>
	</li>
	<li>
	<div layout="row" class="verticalCenter">
	<div class="nino-avatar fsr">
	<img class="img-circle img-thumbnail" src="{% static "images/testimonial/img-3.jpg" %}" alt="">
	</div>
	<div>
	<p class="quote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."</p>
	<span class="name">Jon Doe</span>
	</div>
	</div>
	</li>
	</ul>
	</div>
    	</div>
    </section><!--/#nino-testimonial-->

    <!-- Happy Client
    ================================================== -->


    <!-- Map
    ================================================== -->
    <!-- <section id="nino-map">
    	<div class="container">
    	<h2 class="nino-sectionHeading">
    	<i class="mdi mdi-map-marker nino-icon"></i>
    	<span class="text">Open map</span>
    	<span class="text" style="display: none;">Close map</span>
    	</h2>
    	<div class="mapWrap">
	   	<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d79466.26604960626!2d-0.19779784176715043!3d51.50733004537892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!3m2!1d51.5073509!2d-0.1277583!5e0!3m2!1sen!2s!4v1469206441744" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
	   	</div>
    	</div>
    </section><!--/#nino-map--> -->

    <!-- Footer
    ================================================== -->
    <!-- <footer id="footer">
        <div class="container">
        	<div class="row">
        	<div class="col-md-4">
        	<div class="colInfo">
	       	<div class="footerLogo">
	       	<a href="#" >GyMkhana</a>
	       	</div>
	       	<p>
	       	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	       	</p>
	       	<div class="nino-followUs">
	       	<div class="totalFollow"><span>15k</span> followers</div>
	       	<div class="socialNetwork">
	       	<span class="text">Follow Us: </span>
	       	<a href="" class="nino-icon"><i class="mdi mdi-facebook"></i></a>
	       	<a href="" class="nino-icon"><i class="mdi mdi-twitter"></i></a>
	       	<a href="" class="nino-icon"><i class="mdi mdi-instagram"></i></a>
	       	<a href="" class="nino-icon"><i class="mdi mdi-pinterest"></i></a>
	       	<a href="" class="nino-icon"><i class="mdi mdi-google-plus"></i></a>
	       	<a href="" class="nino-icon"><i class="mdi mdi-youtube-play"></i></a>
	       	<a href="" class="nino-icon"><i class="mdi mdi-dribbble"></i></a>
	       	<a href="" class="nino-icon"><i class="mdi mdi-tumblr"></i></a>
	       	</div>
	       	</div>
	       	<form action="" class="nino-subscribeForm">
	       	<div class="input-group input-group-lg">
	<input type="email" class="form-control" placeholder="Your Email" required>
	<span class="input-group-btn">
	<button class="btn btn-success" type="submit">Subscribe</button>
	</span>
	</div>
	       	</form>
        	</div>
        	</div>
        	<div class="col-md-4 col-sm-6">
        	<div class="colInfo">
	       	<h3 class="nino-colHeading">Blogs</h3>
	       	<ul class="listArticles">
	       	<li layout="row" class="verticalCenter">
	       	<a class="articleThumb fsr" href="#"><img src="{% static "application/images/new/our-blog/img-4.jpg" %}" alt=""></a>
	       	<div class="info">
	       	<h3 class="articleTitle"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing</a></h3>
	       	<div class="date">Jan 9, 2016</div>
	       	</div>
	       	</li>
	       	<li layout="row" class="verticalCenter">
	       	<a class="articleThumb fsr" href="#"><img src="{% static "application/images/new/our-blog/img-5.jpg" %}" alt=""></a>
	       	<div class="info">
	       	<h3 class="articleTitle"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing</a></h3>
	       	<div class="date">Jan 9, 2016</div>
	       	</div>
	       	</li>
	       	<li layout="row" class="verticalCenter">
	       	<a class="articleThumb fsr" href="#"><img src="{% static "application/images/new/our-blog/img-6.jpg"%}" alt=""></a>
	       	<div class="info">
	       	<h3 class="articleTitle"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing</a></h3>
	       	<div class="date">Jan 9, 2016</div>
	       	</div>
	       	</li>
	       	</ul
        	</div>
        	</div>
        	<div class="col-md-4 col-sm-6">
        	<div class="colInfo">
	       	<h3 class="nino-colHeading">instagram</h3>
	       	<div class="instagramImages clearfix">
	       	<a href="#"><img src="{% static "application/images/new/instagram/img-1.jpg" %}" alt=""></a>
	       	<a href="#"><img src="{% static "application/images/new/instagram/img-2.jpg" %}" alt=""></a>
	       	<a href="#"><img src="{% static "application/images/new/instagram/img-3.jpg" %}" alt=""></a>
	       	<a href="#"><img src="{% static "application/images/new/images/instagram/img-4.jpg" %}"  alt=""></a>
	       	<a href="#"><img src="{% static "application/images/new/images/instagram/img-5.jpg" %}" alt=""></a>
	       	<a href="#"><img src="{% static "application/images/new/images/instagram/img-6.jpg" %}" alt=""></a>
	       	<a href="#"><img src="{% static "application/images/new/images/instagram/img-7.jpg" %}" alt=""></a>
	       	<a href="#"><img src="{% static "application/images/new/images/instagram/img-8.jpg" %}" alt=""></a>
	       	<a href="#"><img src="{% static "application/images/new/images/instagram/img-9.jpg" %}" alt=""></a>
	       	<a href="#"><img src="{% static "application/images/new/images/instagram/img-3.jpg" %}" alt=""></a>
	       	<a href="#"><img src="{% static "application/images/new/images/instagram/img-4.jpg" %}" alt=""></a>
	       	<a href="#"><img src="{% static "application/images/new/images/instagram/img-5.jpg" %}" alt=""></a>
	       	</div>
	       	<a href="#" class="morePhoto">View more photos</a>
        	</div>
        	</div>
        	</div>
	<div class="nino-copyright">Copyright &copy; 2016 <a target="_blank" href="http://www.ninodezign.com/" title="Ninodezign.com - Top quality open source resources for web developer and web designer">Ninodezign.com</a>. All Rights Reserved. <br/> MoGo free PSD template by <a href="https://www.behance.net/laaqiq">Laaqiq</a></div>
        </div>
    </footer><!--/#footer--> -->

    <!-- Search Form - Display when click magnify icon in menu
    ================================================== -->
    <!-- <form action="" id="nino-searchForm">
    	<input type="text" placeholder="Search..." class="form-control nino-searchInput">
    	<i class="mdi mdi-close nino-close"></i>
    </form><!--/#nino-searchForm--> -->

    <!-- Scroll to top
    ================================================== -->
	<a href="#" id="nino-scrollToTop">Go to Top</a>

	<!-- javascript -->
	<script type="text/javascript" src="{% static "application/js/new/jquery.min.js" %}"></script>
	<script type="text/javascript" src="{%static "application/js/new/isotope.pkgd.min.js" %}"></script>
	<script type="text/javascript" src="{%static "application/js/new/jquery.prettyPhoto.js" %}"></script>
	<script type="text/javascript" src="{%static "application/js/new/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{%static "application/js/new/jquery.hoverdir.js" %}"></script>
	<script type="text/javascript" src="{%static "application/js/new/modernizr.custom.97074.js" %}"></script>
	<script type="text/javascript" src="{%static "application/js/new//jquery.mCustomScrollbar.concat.min.js" %}"></script>
	<script type="text/javascript" src="{%static "application/js/new/unslider-min.js" %}"></script>
	<script type="text/javascript" src="{%static "application/js/new/template.js" %}"></script>

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!-- css3-mediaqueries.js for IE less than 9 -->
	<!--[if lt IE 9]>
	   <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]--> -->

</body>
</html>
